@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-c: #18a999;
  --secondary-c: #3a3936;
  --secondary-cd: #24221e;
  --tertiary-c: #d9d9d9;
  --neutral-cb: #000000;
  --neutral-cw: #fff;
}

/* GLOBAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
  font-family: "roboto mono", monospace;
  font-size: 100%;
  /* height: 100vh; */

  /* adopt the user’s base font size for read accessibility and the follow with rem font units */
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 5 auto;
}

#hero {
  grid-column: 2;
  grid-row: 1;
}

#about {
  grid-column: 2;
  grid-row: 2;
}

#skills {
  grid-column: 2;
  grid-row: 3;
}

#portfolio {
  grid-column: 2;
  grid-row: 4;
}

#contact {
  grid-column: 2;
  grid-row: 5;
}

nav {
  display: flex;
  padding: 20px 25%;
  position: fixed;
  top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: var(--neutral-cw);
  background-blend-mode: lighten;
  z-index: 2;
}

nav a {
  margin: 35px 30px 0 30px;
  color: var(--neutral-c);
  text-decoration: none;
}

nav a:hover {
  color: var(--primary-c);
}

.container {
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(16, 1fr);
  /* border: 1px solid red; */
  margin-top: 120px;
  margin-bottom: 70px;
  padding: 50px;
  width: 990px;
  height: 550px;
  border-radius: 100px;
  background-color: var(--tertiary-c);
  box-sizing: border-box;
  row-gap: 5px;
  column-gap: 5px;
  position: relative;
}

.icons {
  grid-column: 3;
  grid-row: 1 / 5;
  height: 50px;
  width: 30px;
  margin-top: 150px;
  flex-direction: column;
  position: fixed;
  background-color: #18a999;
  color: #18a999;
}

/* HERO STYLING */
.word1 {
  grid-row: 2;
  grid-column: 4 / 8;
}

/* .word2 {
  grid-row: 2;
  grid-column: 6;
} */

.word1,
.word2 {
  margin-top: 10px;
  font-size: 25px;
  text-transform: uppercase;
}

.first {
  grid-row: 2 / 6;
  grid-column: 4 / 8;
  z-index: 1;
}

.last {
  grid-row: 5 / 9;
  grid-column: 4 / 11;
  color: var(--secondary-c);
  margin: -10px;
}

header .full-stop {
  grid-row: 5 / 7;
  grid-column: 11 / 13;
  margin-top: -10px;
}

.summary {
  grid-row: 9;
  grid-column: 5 / 14;
  margin-top: 10px;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
}

h2,
.full-stop {
  font-size: 90px;
  letter-spacing: -4px;
  color: var(--secondary-cd);
}

h3,
.full-stop,
.dot {
  text-transform: uppercase;
  color: var(--primary-c);
}

.name,
h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
}

.name {
  font-size: 150px;
  font-weight: 800;
  letter-spacing: -4px;
}

/* ABOUT SECTION */

h2,
#about .full-stop {
  grid-row: 1 / 3;
}

#about h2 {
  grid-row: 1 / 5;
  grid-column: 7 / 16;
}

#about .full-stop {
  grid-column: 15 / 16;
}

p {
  text-align: right;
}

.p1 {
  grid-row: 6 / 10;
  grid-column: 4 / 17;
}

.p2 {
  grid-row: 14 / 17;
  grid-column: 3 / 17;
}

#about .subheader {
  grid-row: 13;
  grid-column: 14 / 18;
}

#about img {
  grid-row: 13 / 17;
  grid-column: 1 / 8;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  position: absolute;
  left: -140px;
  top: -70px;
}

#about .dot {
  font-size: 500px;
  position: absolute;
  top: 110px;
  left: -10px;
}
/* PORTFOLIO */

#portfolio h2 {
  grid-row: 1 / 17;
  grid-column: 11 / 16;
  text-align: left;
  /* line-height: 85%; */
  height: 20px;
}

#portfolio .full-stop {
  grid-row: 15 / 17;
  grid-column: 16 / 17;
}

.project {
  border: solid 1px black;
  /* height: 100px;
  width: 200px; */
}

.proj1 {
  grid-row: 2 / 4;
  grid-column: 2 / 6;
}

.proj2 {
  grid-row: 2 / 4;
  grid-column: 7 / 11;
}

.proj3 {
  grid-row: 6 / 10;
  grid-column: 2 / 6;
  background-image: url(./assets/actiontakers.png);
  background-size: contain;
}

.proj4 {
  grid-row: 6 / 10;
  grid-column: 7 / 11;
}

/* CONTACT */

#contact h2 {
  grid-row: 2 / 17;
  grid-column: 1 / 12;
}

#contact .full-stop {
  grid-row: 11;
  grid-column: 12;
}

#contact button {
  grid-row: 12;
  grid-column: 12 / 16;
  height: 65px;
  width: 180px;
  border-radius: 15px;
  box-shadow: 4px 5px 4px var(--secondary-c);
  font-weight: 800;
}

#contact button:hover {
  background-color: var(--secondary-cd);
  color: white;
}

#contact button:active {
  box-shadow: 4px 5px 4px black;
  transform: translateY(4px);
}
