@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-c: #00cdac;
  --secondary-c: #385170;
  --secondary-cd: #142d4c;
  /* --secondary-c: #3a3936; */
  /* --secondary-cd: #24221e; */
  --tertiary-c: #ececec;
  --neutral-cb: #000000;
  --neutral-cw: rgb(235, 226, 226);
}

/* GLOBAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100vw;
  font-family: "roboto mono", monospace;
  font-size: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 5 auto;
}

#hero {
  grid-column: 2;
  grid-row: 1;
}

#about {
  grid-column: 2;
  grid-row: 2;
}

#skills {
  grid-column: 2;
  grid-row: 3;
}

#portfolio {
  grid-column: 2;
  grid-row: 4;
}

#contact {
  grid-column: 2;
  grid-row: 5;
}

nav {
  display: flex;
  padding: 20px 25%;
  position: fixed;
  top: 0;
  text-transform: uppercase;
  letter-spacing: 4px;
  background-color: white;
  background-blend-mode: lighten;
  z-index: 2;
}

nav a {
  margin: 35px 30px 0 30px;
  color: var(--neutral-c);
  text-decoration: none;
}

nav a:hover,
svg:hover {
  transition: all 0.25s;
  transform: scale(1.2);
  -webkit-transform: scale(1.2, 1.2);
  -moz-transform: scale(1.2, 1.2);
  color: var(--primary-c);
}

.container {
  display: grid;
  grid-template: repeat(13, 1fr) / repeat(17, 1fr);
  margin-top: 120px;
  margin-bottom: 70px;
  padding: 50px;
  width: 1100px;
  height: 550px;
  box-sizing: border-box;
  row-gap: 5px;
  column-gap: 5px;
  position: relative;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 100px;
  box-shadow: 35px 35px 60px 0px rgba(155, 155, 155, 0.5),
    inset -8px -8px 16px 0px rgba(155, 155, 155, 0.6),
    inset 0px 11px 28px 0px rgb(255, 255, 255);

  /* background: linear-gradient(
    109.6deg,
    rgb(245, 239, 249) 30.1%,
    rgb(207, 211, 236) 100.2%
  ); */

  /* background: linear-gradient(
    109.6deg,
    rgb(0, 37, 84) 11.2%,
    rgba(0, 37, 84, 0.32) 100.2%
  ); */
  /* 
  background: linear-gradient(
    69.9deg,
    rgb(76, 79, 106) 3.2%,
    rgb(118, 124, 163) 97.6%
  ); */
}

.icons {
  /* grid-column: 3/4;
  grid-row: 1 / 6; */
  display: flex;
  justify-self: right;
  height: 50px;
  width: 50px;
  margin-top: 320px;
  margin-right: 35px;
  flex-direction: column;
  position: fixed;
}

.icons a {
  color: var(--secondary-cd);
  margin-top: 15px;
}

#linkedin,
#email {
  width: 25x;
  height: 25px;
}

#codepen,
#git,
#cv {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

#cv {
  width: 35px;
  height: 35px;
  margin-left: 8px;
}

.line {
  border-left: 1px solid var(--secondary-c);
  height: 200px;
  position: absolute;
  left: 46%;
  top: 270px;
}

/* HERO STYLING -------------------------------*/
.word1 {
  grid-row: 2;
  grid-column: 4 / 8;
  margin-top: 10px;
  font-size: 25px;
  text-transform: uppercase;
}

.first,
.last {
  text-shadow: 8px;
}
.first {
  grid-row: 2 / 6;
  grid-column: 4 / 8;
  z-index: 1;
  color: var(--secondary-cd);
}

.last {
  grid-row: 5 / 9;
  grid-column: 4 / 11;
  color: var(--secondary-c);
  margin: -10px;
}

header .full-stop {
  grid-row: 5 / 7;
  grid-column: 11 / 13;
  margin-top: -10px;
  margin-left: -10px;
}

.summary {
  grid-row: 10;
  grid-column: 6 / 16;
  margin-top: -15px;
  margin-left: -20px;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
  color: var(--secondary-cd);
}

h2,
.full-stop {
  font-size: 90px;
  letter-spacing: -4px;
  color: var(--secondary-cd);
}

h3,
.full-stop,
.dot {
  text-transform: uppercase;
  color: var(--primary-c);
  letter-spacing: 3px;
}

h3 span {
  color: var(--secondary-c);
}

.name,
h2 {
  font-family: "Montserrat", sans-serif;
  text-transform: lowercase;
}

.name {
  font-size: 150px;
  font-weight: 800;
  letter-spacing: -4px;
}

/* ABOUT SECTION ----------------------------------------*/

h2,
#about .full-stop {
  grid-row: 1 / 3;
}

#about h2 {
  grid-row: 1 / 3;
  grid-column: 10 / 18;
}

#about .full-stop {
  grid-column: 18;
  margin-left: -45px;
  margin-top: 3px;
}

p {
  text-align: right;
  line-height: 21px;
}

.p1 {
  grid-row: 5 / 9;
  grid-column: 3 / 18;
}

.p2 {
  grid-row: 12 / 18;
  grid-column: 4 / 18;
}

#about .subheader {
  grid-row: 11;
  grid-column: 14 / 18;
  margin-left: 10px;
}

#about img {
  grid-row: 12 / 16;
  grid-column: 2 / 9;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  position: absolute;
  left: -140px;
  top: -70px;
  opacity: 95%;
}

#about .dot {
  font-size: 500px;
  position: absolute;
  top: 120px;
  left: 30px;
}

/* SKILLS ----------------------------------------*/

#skills {
  height: 700px;
  padding-bottom: 90px;
}

#skills h2 {
  grid-row: 1 / 3;
  grid-column: 1 / 8;
}

#skills .full-stop {
  grid-row: 1 / 3;
  grid-column: 5 / 6;
  margin-left: -25px;
}

.container-skills-icons {
  grid-column: 1 / 18;
  display: flex;
  align-items: center;
  padding: 20px;
  height: 110px;
  border-radius: 10px;
  background-color: var(--secondary-c);
  opacity: 70%;
}

#skills h3 {
  grid-column: 1 / 18;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 5px;
}

.skills-icons {
  color: var(--tertiary-c);
  height: 70px;
  width: 100%;
}

.skills-icons:hover {
  color: var(--primary-c);
  opacity: 100%;
}

#skills .dev-subheader {
  grid-row: 4;
}

.dev-icons {
  grid-row: 5 / 8;
}

#skills .tools-subheader {
  grid-row: 8;
}

.tools-icons {
  grid-row: 9 / 13;
}

#skills .design-subheader {
  grid-row: 13;
}

.design-icons {
  grid-row: 14 / 18;
}

#js {
  height: 90px;
}

/* PORTFOLIO ----------------------------------------*/

#portfolio {
  height: 850px;
  position: relative;
  gap: 15px 15px;
}

#portfolio h2 {
  grid-row: 4 / 18;
  grid-column: 13 / 17;
  text-align: left;
  line-height: 85%;
  height: 20px;
  margin-left: 10px;
}

#portfolio .full-stop {
  grid-row: 8 / 10;
  grid-column: 17;
  margin-left: -25px;
}

.project {
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  box-shadow: 8px 5px 5px var(--secondary-c);
  text-decoration: none;
  display: flex;
  width: 340px;
}

.project:hover {
  transform: scale(1.03, 1.03);
  -webkit-transform: scale(1.03, 1.03);
  -moz-transform: scale(1.03, 1.03);
}

.project div {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px 10px 5px 5px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  padding: 5px;
}

.project p {
  text-align: center;
  color: var(--secondary-c);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
}

.project p:hover {
  color: #00cdac;
  font-weight: 700;
}

.snake-game {
  grid-row: 2 / 6;
  grid-column: 1 / 7;
  background-color: #c5c591;
  background-size: 65%;
  background-image: url(./assets/snake-game-ai-gen.png);
}

.financial-app {
  grid-row: 2 / 6;
  grid-column: 7 / 13;
}

.py-database {
  grid-row: 6 / 14;
  grid-column: 7 / 13;
  position: relative;
}

iframe {
  border-radius: 5px;
  height: 405px;
}

.py-database div {
  position: absolute;
}

.apl-site {
  grid-row: 6 / 10;
  grid-column: 1 / 7;
  background-image: url(./assets/apl.gif);
}

.math-app {
  grid-row: 10 / 14;
  grid-column: 1 / 7;
  background-image: url(./assets/math-app.gif);
  background-size: 110%;
}

.apl-site {
  background-size: 100%;
  background-position: top;
}

/* CONTACT ----------------------------------------*/

#contact h2 {
  grid-row: 2 / 17;
  grid-column: 2 / 13;
}

#contact .full-stop {
  grid-row: 9 / 11;
  grid-column: 12 / 13;
  margin-top: -12px;
  margin-left: -10px;
}

#contact button {
  grid-row: 9 / 11;
  grid-column: 14 / 17;
  height: 65px;
  width: 180px;
  text-align: center;
  font-weight: 800;
  letter-spacing: 1px;
  border-radius: 15px;
  box-shadow: 5px 4px 4px var(--secondary-c);
  background-color: white;
}

#contact button:hover {
  color: white;
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  /* margin: 10px;
  padding: 15px 45px; */
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
}

#contact button:active {
  box-shadow: 4px 5px 4px black;
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}
